form * {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

textarea,
input {
  width: 80%;
  padding: 10px;
  margin: 5px 0 15px;
  border: 1px solid black;
}
textarea {
  height: 100px;
}
.form-submit_button:hover {
  opacity: 0.75;
  cursor: pointer;
}
